@use "@/styles/mixins" as *;

.container-bbs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.833rem;
}

.content-container-bbs {
  margin: 0 auto;
  width: 90%;
  display: flex;
  gap: 1.25rem;
  padding: 1.66rem 0;
}

.content-bbs {
  width: 70%;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.side-content-bbs {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.mobile-bbs {
  display: none;
}

.destop-bbs {
  display: block;
}
@include respond(extraSmall) {
  .mobile-bbs {
    display: block;
  }

  .destop-bbs {
    display: none;
  }
  .content-container-bbs {
    flex-direction: column;
  }

  .content-bbs {
    width: 100%;
  }
  .side-content-bbs {
    width: 100%;
  }
}

@include respond(small) {
  .mobile-bbs {
    display: block;
  }

  .destop-bbs {
    display: none;
  }
  .content-container-bbs {
    flex-direction: column;
  }
  .content-bbs {
    width: 100%;
  }
  .side-content-bbs {
    width: 100%;
  }
}

@include respond(medium) {
  .content-container-bbs {
    flex-direction: column;
  }
  .content-bbs {
    width: 100%;
  }
  .side-content-bbs {
    width: 100%;
  }
}

@include respond(large) {
}

@include respond(extraLarge) {
}

@include respond(wide) {
}
