@use "@/styles/mixins" as *;

.products-bbs {
  display: grid;
  gap: 1.25rem;
  width: 100%;
  grid-template-columns: repeat(2, minmax(0, 48%));
  justify-content: center;
}

.pagination-bbs {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
  li {
    a {
      cursor: pointer;
      padding: 0.25rem 0.43rem;
      border: 1.5px solid #619a3f;
      border-radius: 0.333rem;
      color: #619a3f;
      &:hover {
        background-color: #619a3f;
        color: white;
      }
    }
  }
}

.active-page-bbs {
  a {
    background-color: #619a3f;
    color: white !important;
  }
}
@include respond(extraSmall) {
  .products-bbs {
    grid-template-columns: repeat(2, minmax(0, 48%));
  }
}

@include respond(small) {
  .products-bbs {
    grid-template-columns: repeat(2, minmax(0, 48%));
  }
}

@include respond(medium) {
  .products-bbs {
    grid-template-columns: repeat(2, minmax(0, 48%));
  }
}

@include respond(large) {
  .products-bbs {
    grid-template-columns: repeat(2, minmax(0, 48%));
  }
}
