@use "@/styles/mixins" as *;

.career-container-bbs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.career-content-container-bbs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 50vh;
  padding: 2.5rem 0;

  .title-container-bbs {
    display: flex;
    width: 90%;
    margin: 0 auto;

    .search-box-bbs {
      width: 50%;
      height: 50px;
      display: flex;
      padding: 0.31rem 0.91rem;
      background: #ededed;
      border-radius: 10px;
      padding: 0.31rem 0.91rem 0.31rem 0.91rem;
      align-items: center;
      font-size: 20px;
      color: #619a3f;
      gap: 0.33rem;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.003em;
        color: #bababa;
      }
      input {
        border: none;
        outline: none;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.003em;
        background: #ededed;
      }
    }
    .title-bbs {
      width: 100%;
      font-size: 1.875rem;
      line-height: 2.5rem;
      color: #737373;
      text-align: center;
      span {
        color: #619a3f;
      }
    }
  }
}

@include respond(extraSmall) {
  .career-content-container-bbs {
    .title-container-bbs {
      flex-direction: column;
      gap: 1.5rem;

      .search-box-bbs {
        width: 100%;
      }
      .title-bbs {
        text-align: center;
        width: 100%;
      }
    }
  }
}

@include respond(small) {
  .career-content-container-bbs {
    .title-container-bbs {
      flex-direction: column;
      gap: 1.5rem;

      .search-box-bbs {
        width: 100%;
      }
      .title-bbs {
        text-align: center;
        width: 100%;
      }
    }
  }
}

@include respond(medium) {
  .career-content-container-bbs {
    .title-container-bbs {
      flex-direction: column;
      gap: 1.5rem;

      .search-box-bbs {
        width: 100%;
      }
      .title-bbs {
        text-align: center;
        width: 100%;
      }
    }
  }
}

@include respond(large) {
}
@include respond(extraLarge) {
}

@include respond(wide) {
}
