@use "@/styles/mixins" as *;

.sliders-bbs {
  width: 95%;
  margin: 0 auto ;
  
  & :global(.slick-slide) > div {
    width: 80%;
    display: flex;
    margin: 3rem auto 3rem auto ;
    justify-content: center;
  }

  & :global(.slick-center) > div {
    transition-duration: 500ms;
    transition-property: scale;
    transform: scale(1.2);  }
}

@include respond(extraSmall) {
  .sliders-bbs {
      & :global(.slick-center) > div {
        transform: none 
       }
  }
 
}

@include respond(small) {
  .sliders-bbs {
    & :global(.slick-center) > div {
      transform: none  
    }
}
  
}

@include respond(medium) {
  .sliders-bbs {
    & :global(.slick-center) > div {
      transform: none 
     }
}
 
}

@include respond(large) {
}
@include respond(extraLarge) {
}

@include respond(wide) {
}
