@use "@/styles/mixins" as *;

.news-container-bbs {
  display: flex;
  width: 70%;
  position: relative;
  flex-direction: column;
  gap: 3.333rem;
  align-items: center;
  height: fit-content;
}

@include respond(extraSmall) {
  .news-container-bbs {
    width: 100%;
  }
}

@include respond(small) {
  .news-container-bbs {
    width: 100%;
  }
}

@include respond(medium) {
  .news-container-bbs {
    width: 100%;
  }
}

@include respond(large) {
}
@include respond(extraLarge) {
}

@include respond(wide) {
}
