@use "@/styles/mixins" as *;

.container-bbs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.833rem;
  align-items: center;
}

@include respond(extraSmall) {
}

@include respond(small) {
}

@include respond(medium) {
}

@include respond(large) {
}
@include respond(extraLarge) {
}

@include respond(wide) {
}
