@use "@/styles/mixins" as *;

.container-bbs {
  width: 100%;
  background: #d8e6cf;
  border-radius: 0.833rem;
  display: flex;
  flex-direction: column;
  gap: 0.416rem;
  padding: 0.833rem 1.25rem;
  position: relative;
  font-size: 15px;
  line-height: 19px;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.2em;
    text-align: center;
    color: #619a3f;
    margin-bottom: 0.833rem;
    &::before {
      content: "";
      width: 85%;
      top: 0;
      left: 0;
      right: 0;
      margin-top: 2.4em;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      height: 2px;
      background-color: #619a3f;
    }
  }
}

.tags-bbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.416rem;
}

.tag-bbs {
  padding: 0.25rem 0.75rem;
  border: 1.5px solid #619a3f;
  border-radius: 0.333rem;
  background: #ffffff;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.003em;
  color: #619a3f;
}

@include respond(extraSmall) {
  .container-bbs {
    font-size: 12px;
    line-height: 16px;
    h1 {
      &::before {
        margin-top: 2em;
      }
    }
  }
}

@include respond(small) {
  .container-bbs {
    font-size: 14px;
    line-height: 18px;
    h1 {
      &::before {
        margin-top: 2em;
      }
    }
  }
}

@include respond(medium) {
  .container-bbs {
    h1 {
      &::before {
        margin-top: 2em;
      }
    }
  }
}

@include respond(large) {
  .container-bbs {
    h1 {
      &::before {
        margin-top: 2em;
      }
    }
  }
}
@include respond(extraLarge) {
  .container-bbs {
    h1 {
      &::before {
        margin-top: 2em;
      }
    }
  }
}
