@use "@/styles/mixins" as *;

.container-bbs {
  min-height: 60vh;
  position: relative;
  display: flex;
  padding-top: 70px;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 22px;

  .content-bbs {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    h1 {
      font-size: 1.33em;
      line-height: 1.5em;
      color: #619a3f;
    }
    p {
      font-size: 1em;
      line-height: 1.4em;
      color: #000000;
    }
  }
}

@include respond(extraSmall) {
  .container-bbs {
    min-height: 40vh;

    .content-bbs {
      width: 80%;
      margin: 0 auto;
    }
    img {
      width: 80% !important;
      height: fit-content !important;
    }
  }
}

@include respond(small) {
  .container-bbs {
    min-height: 40vh;

    .content-bbs {
      width: 80%;
      margin: 0 auto;
    }
    img {
      width: 80% !important;
      height: fit-content !important;
    }
  }
}

@include respond(medium) {
  .container-bbs {
    min-height: 40vh;

    .content-bbs {
      width: 80%;
      margin: 0 auto;
    }
    img {
      width: 80% !important;
      height: fit-content !important;
    }
  }
}

@include respond(large) {
}

@include respond(extraLarge) {
}

@include respond(wide) {
}
