@use "@/styles/mixins" as *;

.btn-bbs {
  pointer-events: all;
  cursor: pointer;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.416rem;
}

.white-btn-bbs {
  background: #ffffff;
  border: 2px solid #619a3f;
  color: #619a3f;
}

.white-btn-hovered-bbs {
  background: #ffffff;
  border: 2px solid #619a3f;
  color: #619a3f;
  &:hover {
    background-color: #619a3f;
    color: white;
  }
}
.green-btn-bbs {
  background: #619a3f;
  border: 2px solid #619a3f;
  color: #ffffff;
}

@include respond(extraSmall) {
}

@include respond(small) {
}

@include respond(medium) {
}

@include respond(large) {
}

@include respond(extraLarge) {
}

@include respond(wide) {
}
