@use "@/styles/mixins" as *;

.container-bbs {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  gap: 1.25rem;
  align-items: center;
  background-color: white;
}

.title-bbs {
  font-size: 1.875rem;
  line-height: 2rem;
  color: #619a3f;
  text-align: center;
}

.menu-container-bbs {
  width: 100%;
  display: flex;

  & > * {
    flex: 1 1 0;
  }
}

.menu-active-bbs {
  background-color: #619a3f;
  border: 2px solid #619a3f;
  border-radius: 10px;
  color: white;
}

.cards-container-bbs {
  width: 100%;
  justify-content: center;
  gap: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 32%));
}

.mobile-btn-bbs {
  font-size: 12px;
  line-height: 16px;
  display: none;
}
.web-btn-bbs {
  width: 100%;
  display: flex;
  font-size: 15px;
  line-height: 19px;
  align-items: flex-end;
  justify-content: flex-end;
}

@include respond(extraSmall) {
  .menu-container-bbs {
    justify-content: center;
    & > * {
      flex: none;
    }
  }

  .cards-container-bbs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .web-btn-bbs {
    display: none;
  }

  .mobile-btn-bbs {
    display: block;
  }
}

@include respond(small) {
  .menu-container-bbs {
    justify-content: center;
    & > * {
      flex: none;
    }
  }

  .cards-container-bbs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .web-btn-bbs {
    display: none;
  }

  .mobile-btn-bbs {
    display: block;
  }
}

@include respond(medium) {
  .menu-container-bbs {
    justify-content: center;
    & > * {
      flex: none;
    }
  }

  .cards-container-bbs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .web-btn-bbs {
    display: none;
  }

  .mobile-btn-bbs {
    display: block;
  }
}

@include respond(large) {
  .container-bbs {
    width: 90%;
  }
}

@include respond(extraLarge) {
  .container-bbs {
    width: 90%;
  }
}

@include respond(wide) {
}
